$color-white: #fff;
$color-button-hover: #888;
//$color-red:    #8a5c5e;
$color-red:    #905a5d;
//$color-blue:    #5d8a88;
$color-blue: #589293;
//$color-violet:    #8a5c87;
$color-violet:    #915695;
//$color-green:    #7e8a5c;
$color-green:    #829159;
$color-brown:    #8a7f5c;
$color-grey:  #333333;
$color-darker-grey:  #262626;
$color-darkest-grey:  #1a1a1a;
