$color-red:    #8a5c5e;
$color-blue:    #5d8a88;
$color-violet:    #8a5c87;
$color-green:    #7e8a5c;
$color-brown:    #8a7f5c;
$color-grey:  #333333;
$color-darker-grey:  #262626;
$color-darkest-grey:  #1f1f20;
