@import "../theme/variables";

.login-page{
  width: 300px;
  margin: 0 auto;
  padding: 50px;

  .login-page__logo_image{
    margin: 0 0 70px 0;
    height: 200px;
    width: 200px;
  }

  .login-page__logo_text{
    color:white;
    font-family: 'Ubuntu', sans-serif;
    font-weight: lighter;
    font-size: 50px;
    width: 250px;
    position: absolute;
    top: 85px;
    margin-left: 80px;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.4);
  }

  .login-page__button{
    margin: 0 auto;
    padding: 25px;
    background-color: $color-blue;
    width: 300px;
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.42);
    transition: background 1s;

    &:hover{
      cursor:pointer;
      background-color: $color-violet;
      box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.42);
    }

    .login-page__button_text{
      text-align: center;
      color: #ffffff;
      font-size: 1.5rem;
      font-weight: 300;
      font-family: 'Ubuntu', sans-serif;
      -webkit-font-smoothing: subpixel-antialiased;
      margin: 0;
    }
  }
}

.login-page__logo_svg{
  opacity: 0.4;
}

.st0 {
  fill:none;
  stroke:$color-brown;
  stroke-width:3;
  stroke-miterlimit:10;
}

.st1 {
  fill:none;
}


