<div (dragover)="false" (dragend)="false" (drop)="handleDrop($event)">

  <button class="" (click)="login()">Login</button>
  <button class="" (click)="logout()">Logout</button>

  <h2>{{ authenticationService?.getActiveUser()?.displayName }}
  <span *ngIf="authenticationService?.getActiveUser()?.photoUrl">
    <img [src]="authenticationService?.getActiveUser()?.photoUrl" style="max-width: 100px; border-radius: 50%;">
  </span>
  </h2>

  <div class="media" *ngFor="let file of files | async">
    <div class="media-left">
      <a [href]="file.path" (click)="preview($event)">
        <img class="media-object" src="{{ file.path }}" style="max-width:200px">
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading">{{ file.name }}</h4>
      <p>{{ file.size }} bytes</p>
    </div>
  </div>

</div>
