@import '../theme/variables';
@import '../theme/scrollbar';

.text-overflow-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.dashboard-sidebar{
  position: fixed;
  width: 350px;
  height: 100vh;
  background-color: $color-darkest-grey;
}
.dashboard-sidebar__project-list{
  height: 100%;
  float:left;
  width: 30%;
  background-color: $color-darkest-grey;
}
.dashboard-sidebar__file-list{
  padding: 10px 30px;
  float:left;
  height: 100%;
  width: 70%;
  box-sizing: border-box;
  background-color: $color-darker-grey;
}
.dashboard-content{
  width: calc(100% - 350px);
  min-height: 100vh;
  float:right;

  .dashboard-content__user {
    float: right;
    cursor: pointer;
    margin: 20px;
    vertical-align: middle;
    overflow: hidden; // clears float
    font-size: 20px;
    color: $color-button-hover;

    .dashboard-content__user__image {
      margin-left: 10px;
      max-width: 50px;
      border-radius: 50%;
      vertical-align: middle;
    }

  }

}
.dashboard-sidebar__tool-icons{
  width: 100%;
  padding-top: 20px;
  text-align: center;

  .tool-icon{
    color: $color-white;
    margin-bottom: 20px;
    font-size: 60px;

    &:hover{
     cursor: pointer;
     color: $color-button-hover;
    }
  }
}
.dashboard-sidebar__projects{
  overflow-y: auto;
  height: calc(100% - 180px);

  .dashboard-sidebar__project{
    margin: 0 auto;
    text-align: center;
    //padding: 3px 5px;
    margin: 10px 10px 15px 10px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    color: $color-white;

    h1 {
      padding: 3px 5px;
      font-size: 30px;
      display: inline-block;
    }

    &:hover{
      cursor: pointer;
      filter: brightness(75%);
    }
  }
}

.dashboard-sidebar__file-list__title {

  h1 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    font-size: 30px;
    color: $color-white;
    @extend .text-overflow-ellipsis;
  }
}
.dashboard-sidebar__file-list__files {
  ul {

    list-style: none;
    padding: 0;
    margin: 0;

    .dashboard-sidebar__file-list__file {

      &:empty {
        display: none;
      }

      margin-bottom: 15px;
      color: $color-white;
      font-family: 'Ubuntu', sans-serif;
      vertical-align: middle;
      @extend .text-overflow-ellipsis;

      i {
        vertical-align: text-bottom;
        margin-right: 10px;
        color: $color-green;
        vertical-align: middle;
      }
    }
  }
}

// For testing only
.p-0{
  background-color: $color-green;
}
.p-1{
  background-color: $color-violet;
}
.p-2{
  background-color: $color-blue;
}
.p-3{
  background-color: $color-red;
}
.p-4{
  background-color: $color-brown;
}
