@import '../theme/variables';
@import '../theme/scrollbar';


.dashboard-sidebar{
  position: fixed;
  width: 350px;
  height: 100vh;
  background-color: $color-darkest-grey;
}
.dashboard-sidebar__project-list{
  height: 100%;
  float:left;
  width: 30%;
  background-color: $color-darkest-grey;
}
.dashboard-sidebar__file-list{
  float:left;
  height: 100%;
  width: 70%;
  background-color: $color-darker-grey;
}
.dashboard-content{
  float:right;
}
.dashboard-sidebar__tool-icons{
  width: 100%;
  padding-top: 20px;
  text-align: center;

  .tool-icon{
    color: $color-white;
    margin-bottom: 20px;
    font-size: 60px;

    &:hover{
     cursor: pointer;
     color: $color-button-hover;
    }
  }
}
.dashboard-sidebar__projects{
  overflow-y: auto;
  height: calc(100% - 180px);

  .dashboard-sidebar__project{
    margin: 0 auto;
    text-align: center;
    padding: 3px 5px;
    margin: 10px 10px 15px 10px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    color: $color-white;

    &:hover{
      cursor: pointer;
      filter: brightness(75%);
    }
  }
}
.dashboard-sidebar__file-list__title{
  padding: 10px 0 10px 30px;
  //border-bottom: 5px solid $color-green;

  h1{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    color: $color-white;
  }
}
.dashboard-sidebar__file-list__files{
  ul {
    list-style: none;

    .dashboard-sidebar__file-list__file{
      margin-bottom: 15px;
      color: $color-white;
      font-family: 'Ubuntu', sans-serif;
      vertical-align: middle;

      i{
        vertical-align: text-bottom;
        margin-right: 10px;
        color: $color-green;
      }
    }
  }
}

// For testing only
.p-0{
  background-color: $color-green;
}
.p-1{
  background-color: $color-violet;
}
.p-2{
  background-color: $color-blue;
}
.p-3{
  background-color: $color-red;
}
.p-4{
  background-color: $color-brown;
}
